:root {
    --background-color: #fff;
    --color: #101030;
    --heading-color: #101030;
    --link-underline-color: #21bc93;
    --selection-color: #129a75;
    --light-gray-color: #f8f8f8;
    --medium-gray-color: #bbb;
    --body-font: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif;
    --heading-font: var(--body-font);
    --mono-font: monospace;
    --mono-font-weight: 500;
    --main-font-size: 20px;
    --mono-font-size: 18px;
}

body::after {
    content: "";
    display: block;
    margin-bottom: 40px;
}

::selection {
    color: #fff;
    background-color: var(--selection-color);
}

nav.navbar,
.pagination {
    margin-top: 20px;
    margin-bottom: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
}

nav.navbar ul,
.pagination ul {
    margin: auto;
    padding: 0px;
    white-space: nowrap;
}

nav.navbar li,
.pagination li {
    display: inline;
    padding: 0px;
}

nav.navbar a,
.pagination a {
    display: inline-block;
    padding: 0px 20px;
}

li.first a {
    padding: 0px 20px 0px 0px;
}

li.last a {
    padding: 0px 0px 0px 20px;
}

@media screen and (max-width: 400px) {
    nav.navbar {
        font-size: 15px;
    }

    nav.navbar a {
        padding: 0px 0.5em;
    }
}

html {
    background-color: var(--background-color);
    font-family: var(--body-font);
    font-size: var(--main-font-size);
    font-feature-settings: "lnum" 1, "tnum" 1;
    color: var(--color);
    line-height: 1.4;
    hanging-punctuation: none;
}

#TableOfContents {
    margin-top: 48px;
}

#TableOfContents ol {
    list-style-type: none;
    padding-left: 0px;
}

#TableOfContents ol ol {
    padding-left: 30px;
}

#TableOfContents ol li {
    margin-top: 12px;
}

#TableOfContents ol ol li {
    margin-top: 6px;
}

a {
    color: var(--color);
    text-decoration: none;
    border-bottom: 1px solid var(--link-underline-color);
}

a.tag {
    border-bottom-style: dashed;
}

a.active-tag {
    color: var(--selection-color);
    border-bottom: none;
}

a:hover {
    background-color: var(--link-underline-color);
}

@media screen and (max-width: 400px) {
    a:hover {
        background-color: var(--background-color);
    }
}

article h1, article h2, article h3, article h4, article p, article ul, article ol, article pre, article .toc, nav {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.toc {
    font-size: smaller;
    background-color: var(--light-gray-color);
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: var(--medium-gray-color);
}

.toc ul {
    list-style: none;
    padding-left: 30px;
}

.wide-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0px;
}

p+p {
    margin-top: 14px;
}

p.smalltags {
    margin-top: 4px;
}

h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
    margin-top: 16px;
}

h1+p {
    margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 0;
    line-height: 1.3;
    font-variation-settings: "slnt" 0;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

h2 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

.posts h2 {
    margin-top: 36px;
}

p+h2 {
    margin-top: 80px;
}

h3 {
    font-weight: normal;
    margin-top: 36px;
    font-size: 24px;
}

h1#title {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 42px;
    font-variation-settings: "slnt" 0;
}

figure {
    max-width: 100%;
    margin-top: 16px;
}

figcaption {
    padding-left: 40px;
    margin-bottom: 40px;
    font-size: smaller;
}

img {
    max-width: 100%;
}

.lower {
    vertical-align: -0.1em;
}

.iimg {
    height: 0.8em;
}

p + ul {
    margin-top: 3px;
}

pre {
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 10px 10px 10px 0px;
    border-radius: 6px;
    margin: 0px;
}

code {
    font-family: var(--mono-font);
    font-weight: var(--mono-font-weight);
    font-size: 90%;
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

input {
    appearance: none;
    background-color: var(--link-underline-color);
    font-size: var(--mono-font-size);
    font-weight: var(--mono-font-weight);
    font-family: var(--mono-font);
    color: var(--color);
    padding: 5px;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
}

.bullshit {
    padding: 0.5em;
    margin: 1em 0;
    background-color: #e2651d;
    color: #8a3a0e;
}

@media screen {
    .bullshit {
        color: #c65410;
    }
}

.black {
    color: #000;
}

.footnote {
    font-size: small;
}

.center {
    text-align: center;
}

.forcefooter {
    flex-grow: 1;
}

.small-margin-top {
    margin-top: 12px;
}

.scaps {
    letter-spacing: 1px;
    font-feature-settings: "c2sc" 1, "smcp" 1;
}

.inline-example,
.example {
    background-color: var(--link-underline-color);
    padding: 2px 10px;
    border-radius: 6px;
    box-decoration-break: clone;
}

.example {
    padding-left: 40px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 6px;
}

ul.posts {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 48px;
}

ul.posts li {
    margin-top: 0px;
}

ul.posts li+li {
    margin-top: 60px;
}

ul.posts h2 {
    margin-bottom: 18px;
    margin-top: 0px;
}

.summary {
    font-size: smaller;
    max-width: 32rem;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60svh;
}

.prev_next {
    margin-top: 40px;
}

footer {
    margin-top: 60px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #aaa;
}

footer a {
    color: #666;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}

.buttons {
    margin-top: 30px;
    line-height: 1.6;
}

s {
    color: var(--medium-gray-color);
}