<!DOCTYPE html>
<html>
<head>
    <title>Гастро-гид по Еревану от канала «Арина и Саша едят еду»</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <script>
        const today = new Date();
        const categories = {{CATEGORIES}};
        const places = {{PLACES}};
        function show_category(category) {
            return function () {
                all_elements = document.querySelectorAll(".place");
                Array.from(all_elements).map((element) => {element.style.display = "none";});
                elements = document.querySelectorAll(category);
                Array.from(elements).map((element) => {element.style.display = "block";});
                tags = document.querySelector('.buttons').querySelectorAll('a');
                Array.from(tags).map((element) => {element.classList.remove("active-tag")});
                document.querySelector('a[data-tag="' + category + '"]').classList.add("active-tag");
            }
        }
        function show_all() {
            all_elements = document.querySelectorAll(".place");
            Array.from(all_elements).map((element) => {element.style.display = "block";});
            tags = document.querySelector('.buttons').querySelectorAll('a');
            Array.from(tags).map((element) => {element.classList.remove("active-tag")});
        }
        function parse_date(s) {
            timestamp = Date.parse(s);
            date = new Date(timestamp);
            return date
        }
        function timedelta_days(d1, d2) {
            timedelta_ms = Math.abs(d2 - d1);
            return Math.ceil(timedelta_ms / (1000 * 60 * 60 * 24));
        }
        function update_from_hash() {
            hash = window.location.hash;
            if (hash.length > 0) {
                category = hash.substring(1);
                if (categories.includes(category)) {
                    show_category('.' + category)();
                } else {
                    show_all();
                    elements = document.getElementsByName(category);
                    elements[0].scrollIntoView({ behavior: "smooth" });
                }
            } else {
                show_all()
            };
        }
        function generate_place(place) {
            div = document.createElement("div");
            div.setAttribute("class", place["class"]);
            h3 = document.createElement("h3");
            h3.setAttribute("name", place["slug"]);
            link = document.createElement("a");
            link.setAttribute("href", place["link"]);
            link.innerHTML = place["title"];
            h3.appendChild(link);
            div.appendChild(h3);
            text = document.createElement("p");
            text.innerHTML = place["text"];
            div.appendChild(text);
            if (place.hasOwnProperty("recommend")) {
                recommend = document.createElement("p");
                recommend.innerHTML = "🤌 " + place["recommend"];
                div.appendChild(recommend);
            };
            tags = document.createElement("p");
            tags.setAttribute("class", "smalltags");
            small = document.createElement("small");
            for (let i = 0; i < place["tags"].length; i++) {
                tag = place["tags"][i];
                link = document.createElement("a");
                link.setAttribute("class", "tag");
                link.setAttribute("href", "#" + tag["en_name"]);
                textNode = document.createTextNode(tag["ru_name"]);
                link.appendChild(textNode);
                small.appendChild(link);
                if (i < (place["tags"].length - 1)) {
                    textNode = document.createTextNode(", ");
                    small.appendChild(textNode);
                };
            };
            tags.appendChild(small);
            div.appendChild(tags);
            document.getElementsByClassName("places")[0].appendChild(div);
        }
        function generate_places() {
            for (let i = 0; i < places.length; i++) {
                place = places[i];
                delta = timedelta_days(parse_date(place["date"]), today);
                if (place["title"].includes("🚫")) {
                    place["new"] = 999;
                } else if (delta <= 14) {
                    place["title"] = "🆕 " + place["title"];
                    place["new"] = delta;
                } else {
                    place["new"] = 100;
                }
            };
            sort_func = (a, b) => {
                if (a.new === b.new) {
                    return a.title.localeCompare(b.title);
                } else {
                    return a.new - b.new;
                }
            };
            places.sort(sort_func);
            for (let i = 0; i < places.length; i++) {
                generate_place(places[i]);
            }
        }
        window.addEventListener('load', function() {
            generate_places();
            update_from_hash();
        });
        window.addEventListener('hashchange', update_from_hash);
    </script>
</head>
<body>
    <article>
    <h1>Гастро-гид по Еревану от канала <a href="https://t.me/arinaisashaedyat">«Арина и Саша едят еду»</a></h1>
    <p>Мы живём в Ереване почти два года. За это время мы съели большое количество вкусной еды и некоторое количество невкусной. Итогом стал этот список. В нём — только те места, в которые мы бы отвели своих друзей.</p>
    <div class="buttons"><p>Теги: {{TAGS}}</div>
    <div class="places"></div>
    </article>
    <footer><small><a href="https://forms.gle/3bUDgGVazPvZYJQD9">Написать анонимный фидбек</a></small></footer>
</body>
